@import './base.css';

#app {
  flex:1 0 auto;
  display: flex;
  flex-direction: column;
  height:100%;
  font-weight: normal;
  position: relative;
}
.wrapper {
    flex: 1 0 auto;
    max-width: 1280px;
    }     
.container {
width:100%;
margin: 0 auto;
background-color: white;
/*    box-shadow:2px 0px 24px black;*/
}